[submodule "AI"]
	path = AI
	url = https://github.com/JuanPabloMontoya271/IBM-Analytics-AI.git
[submodule "server"]
	path = server
	url = https://github.com/JuanPabloMontoya271/IBM-Analytics-Server.git
[submodule "IBM-Analytics-Frontend"]
	path = frontend
	url = https://github.com/JuanPabloMontoya271/IBM-Analytics-Frontend.git
